version: "3.9"

services:
  backend:
    build:
      context: ./   
      dockerfile: Dockerfile
    env_file:
      - ./api/src/main/resources/.env
    container_name: cms
    ports:
      - "80:80"
